<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!--Link Dimensions-->
    <xacro:property name="a" value="0.1"/>
    <xacro:property name="b" value="0.1"/>
    <xacro:property name="c" value="0.8"/>

    <!--Center of Mass for first joint-->
    <xacro:property name="s" value="${c/2}"/>

    <!-- First Joint Displacement-->
    <xacro:property name="q" value="${c-c/4}"/>

    <!-- Material Density-->
    <xacro:property name="d" value="1000"/>

    <!-- Mass-->
    <xacro:property name="m" value="${d*a*b*c}"/>

    <!-- Link Moment of Inertia-->
    <xacro:property name="Ix_body" value="${m*(b*b+c*c)/12}"/>
    <xacro:property name="Iy_body" value="${m*(a*a+c*c)/12}"/>
    <xacro:property name="Iz_body" value="${m*(a*a+b*b)/12}"/>

    <!-- Inertial section of the robot body-->
    <xacro:macro name="inertial_body">
        <inertial>
            <mass value="${m}"/>
            <origin xyz="0 0 ${s}" rpy="0 0 0"/>
            <inertia ixx="${Ix_body}" ixy="0" ixz="0" iyy="${Iy_body}" iyz="0" izz="${Iz_body}"/>
        </inertial>
    </xacro:macro>
    
    <!-- Colors -->
    <material name="Red">
        <color rgba="1 0 0 1"/>
    </material>
    <material name="Green">
        <color rgba="0 1 0 1"/>
    </material>
    <material name="Blue">
        <color rgba="0 0 1 1"/>
    </material>
    <material name="Black">
        <color rgba="0 0 0 1"/>
    </material>
    <material name="White">
        <color rgba="1 1 1 1"/>
    </material>
</robot>